* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Audiowide', cursive;
}

strong {
  font-weight: 600;
}

body {
  background: #111;
  color: $white;
}

main {
  background: rgba(#17113d, 0.3);
  overflow: hidden;
}
