//$h1-fontsize: 3.56rem;
$h1-fontsize: 2.92rem;
$h2-fontsize: 2.28rem;
$h3-fontsize: 1.64rem;
$h4-fontsize: 1.64rem;
$h5-fontsize: 1.15rem;
$h6-fontsize: 1.15rem;

$small-screen-up: 767px !default;
$medium-screen-up: 1025px !default;
$large-screen-up: 1367px !default;
$small-screen: 768px !default;
$medium-screen: 1024px !default;
$large-screen: 1366px !default;
