$h1-fontsize: 3.56rem;
$h2-fontsize: 2.92rem;
$h3-fontsize: 2.28rem;
$h4-fontsize: 1.64rem;
$h5-fontsize: 1.15rem;
$h6-fontsize: 1.15rem;

$purple: #621365;
$pink: #d153b0;
$blue: #17113d;
$yellow: #fbf376;
$white: #fde9d4;
