.header {
  position: relative;
  z-index: 5;

  .header_animation-toggle {
    background: rgba(#111, 0.6);
    font-size: 0.9rem;
    text-align: right;
    padding: 10px;
    margin: 0;

    .switch {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

