.skills-grid {
  .skills-grid_skills {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      flex: 0 0 50%;
      text-align: center;
      position: relative;

      span {
        padding: 5px;
        display: block;
        font-size: 3rem;
        text-align: center;
      }

      .svg-inline--fa {
        color: rgba($pink, 1)
      }

      .caption {
        display: block;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
